.header {
  background-color: black;
}

.container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  color: white;
  font-size: 30px;
  &:active {
    color: green;
  }
}

.active {
  color: green;
}
