.container {
  position: relative;
}

.title {
  text-align: center;
  color: red;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  background-color: aqua;
}
